In [1]:
# dict
# -Indexed
# -Ordered
# -Duplicate and multiple value
# -Mutable

In [2]:
d = {}
d = dict()
print(type(d))

<class 'dict'>

In [3]:
# d = {<key>:<value>,<key>:<value>,....}

In [4]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
print(a['a'])
print(a['b'])

Apple
Ball

In [8]:
a = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [9]:
a = {"a":"Apple","b":"Ball","c":"Cat","a":"apple"}
a

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [12]:
d = {}
d["a"] = "Apple"
d["b"] = "Ball"
d["c"] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
d = {}
d["a"] = "Apple"
d["b"] = "Ball"
d["c"] = "Cat"
d["a"] = "Ant"
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [14]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808667654
Enter name = Shyam
Enter phone = 9808667643
{'Ram': 9808667654, 'Shyam': 9808667643}

In [15]:
d = {}
d["Ram"] = 9808667654
d["Shyam"] = 9808667643
d

{'Ram': 9808667654, 'Shyam': 9808667643}

In [16]:
a = {'Ram': 9808667654, 'Shyam': 9808667643}
a['Hari'] = 9808998765
a

{'Ram': 9808667654, 'Shyam': 9808667643, 'Hari': 9808998765}

In [17]:
for i in a:
    print(i)

Ram
Shyam
Hari

In [18]:
for i in a.values():
    print(i)

9808667654
9808667643
9808998765

In [20]:
for i in a.items():
    print(i)

('Ram', 9808667654)
('Shyam', 9808667643)
('Hari', 9808998765)

In [21]:
l = []
for i in a.items():
    l.append(i)
    
l

[('Ram', 9808667654), ('Shyam', 9808667643), ('Hari', 9808998765)]

In [22]:
d = dict(l)
d

{'Ram': 9808667654, 'Shyam': 9808667643, 'Hari': 9808998765}

In [23]:
a = (('Ram', 9808667654), ('Shyam', 9808667643), ('Hari', 9808998765))
dict(a)

{'Ram': 9808667654, 'Shyam': 9808667643, 'Hari': 9808998765}

In [26]:
a = [['Ram', 9808667654], ['Shyam', 9808667643], ['Hari', 9808998765]]
b = dict(a)
b

{'Ram': 9808667654, 'Shyam': 9808667643, 'Hari': 9808998765}

In [29]:
a = {'Ram': 9808667654, 'Shyam': 9808667643, 'Hari': 9808998765}
a["Ram"] = 98000000
a

{'Ram': 98000000, 'Shyam': 9808667643, 'Hari': 9808998765}

In [31]:
# del pop()
a = {'Ram': 9808667654, 'Shyam': 9808667643, 'Hari': 9808998765}
del a["Ram"]
print(a)

{'Shyam': 9808667643, 'Hari': 9808998765}

In [33]:
a = {'Ram': 9808667654, 'Shyam': 9808667643, 'Hari': 9808998765}
b = a.pop("Shyam")
print(a)
print(b)

{'Ram': 9808667654, 'Hari': 9808998765}
9808667643

In [34]:
# list inside dict
a = {'Ram': [9808667654,9808667632], 
     'Shyam': [9808667643,9856556543], 
     'Hari': [9808998765,9867667654]}
print(a)

{'Ram': [9808667654, 9808667632], 'Shyam': [9808667643, 9856556543], 'Hari': [9808998765, 9867667654]}

In [36]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter phone = "))
    ncell_phone = int(input("Enter phone"))
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9845778765
Enter phone9808667654
Enter name = Shyam
Enter phone = 9845667654
Enter phone9808334455
{'Ram': [9845778765, 9808667654], 'Shyam': [9845667654, 9808334455]}

In [38]:
a = {'Ram': [9845778765, 9808667654], 'Shyam': [9845667654, 9808334455]}
b = {'Hari':[9845445433,9808556543]}
a.update(b)
print(a)

{'Ram': [9845778765, 9808667654], 'Shyam': [9845667654, 9808334455], 'Hari': [9845445433, 9808556543]}

In [46]:
a = {'Ram': [9845778765, 9808667654], 'Shyam': [9845667654, 9808334455]}
a['Hari'] = [9845665456,9808556543]
a

{'Ram': [9845778765, 9808667654],
 'Shyam': [9845667654, 9808334455],
 'Hari': [9845665456, 9808556543]}

In [49]:
a['Ram'][1] = 9800000000

9808667654

In [50]:
del a['Ram'][1]
a

{'Ram': [9845778765],
 'Shyam': [9845667654, 9808334455],
 'Hari': [9845665456, 9808556543]}

In [1]:
# WAP to create the give type
# d = {"Name":["Ram","Shyam","Hari"],
#     "Age":[67,89,45],
#     "Address":["Kathmandu","Bhaktapur","Lalitpur"]}

In [2]:
d = {"Name":[],"Age":[],"Address":[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    
    d['Name'].append(name)
    d['Age'].append(age)
    d['Address'].append(add)
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 56
Enter add = Kathmandu
Enter name = Hari
Enter age = 34
Enter add = Kathmandu
{'Name': ['Ram', 'Hari'], 'Age': [56, 34], 'Address': ['Kathmandu', 'Kathmandu']}

In [ ]:
# # WAP to create following type
# l = [{"Name":"Ram","Age":45,"Address":"Kathmandu"},
#     {"Name":"Shyam","Age":55,"Address":"Lalitpur"},
#     {"Name":"Hari","Age":54,"Address":"Bhaktapur"}]


# d = {1:{"Name":"Ram","Age":45,"Address":"Kathmandu"},
#     2:{"Name":"Shyam","Age":55,"Address":"Lalitpur"},
#     3:{"Name":"Hari","Age":54,"Address":"Bhaktapur"}}

In [ ]:
l = [{"Name":"Ram","Age":45,"Address":"Kathmandu"},
    {"Name":"Shyam","Age":55,"Address":"Lalitpur"},
    {"Name":"Hari","Age":54,"Address":"Bhaktapur"}]

In [3]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {"Name":name,"Age":age,"Add":add}
    l.append(data)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Bhaktapur
[{'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}, {'Name': 'Shyam', 'Age': 45, 'Add': 'Bhaktapur'}]

In [6]:
for i in l:
    print(i)

{'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}
{'Name': 'Shyam', 'Age': 45, 'Add': 'Bhaktapur'}

In [7]:
for i in l:
    print(i.items())

dict_items([('Name', 'Ram'), ('Age', 34), ('Add', 'Kathmandu')])
dict_items([('Name', 'Shyam'), ('Age', 45), ('Add', 'Bhaktapur')])

In [11]:
a = [{'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}, 
     {'Name': 'Shyam', 'Age': 45, 'Add': 'Bhaktapur'}]
a[0]['Name'] = "Ramesh"
a

[{'Name': 'Ramesh', 'Age': 34, 'Add': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 45, 'Add': 'Bhaktapur'}]

In [12]:
a = [{'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}, 
     {'Name': 'Shyam', 'Age': 45, 'Add': 'Bhaktapur'}]
a[0]["Add"] = ["Kathmandu","Dhading"]
a[1]["Add"] = ["Kathmandu","Dang"]
a

[{'Name': 'Ram', 'Age': 34, 'Add': ['Kathmandu', 'Dhading']},
 {'Name': 'Shyam', 'Age': 45, 'Add': ['Kathmandu', 'Dang']}]

In [13]:
l = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {"Name":name,"Age":age,"Add":add}
    l[i] = data
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Hari
Enter age = 56
Enter add = Bhaktapur
{1: {'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}, 2: {'Name': 'Hari', 'Age': 56, 'Add': 'Bhaktapur'}}

In [23]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}, 
     2: {'Name': 'Hari', 'Age': 56, 'Add': 'Bhaktapur'}}

In [25]:

a[1]['Phone'] = 9808667654
a

{1: {'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu', 'Phone': 9808667654},
 2: {'Name': 'Hari', 'Age': 56, 'Add': 'Bhaktapur', 'Phone': 9808667654}}

In [16]:
l[2]['Phone'] = 9808667654
l

{1: {'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu', 'Phone': 9808667654},
 2: {'Name': 'Hari', 'Age': 56, 'Add': 'Bhaktapur', 'Phone': 9808667654}}

In [26]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}, 
     2: {'Name': 'Hari', 'Age': 56, 'Add': 'Bhaktapur'}}

TypeError: unhashable type: 'dict'

In [ ]:
a = {1,2,3}