In [1]:
# file = open('<file_name'>,'<modes>')
# file.close()

In [2]:
# with open('<file_name>','<mode>') as file:
#     <opetrations>

In [3]:
# modes
# x -> 'create'
# r -> 'read'
# a -> 'append'
# w -> 'write'

In [7]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already there")

The file is already there

In [8]:
file = open('data.txt','r')
x = file.read()
print(x)
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World
9.Hello World
10.Hello World

In [9]:
print(type(x))

<class 'str'>

In [13]:
y = x.split('\n')

In [15]:
y[1]

'2.Hello World'

In [16]:
file = open('datas.txt','w')
file.write("Hello World")
file.close()

In [17]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    bill = bill + info
    
print(bill)
    
    
file = open('datas.txt','w')
file.write(bill)
file.close()

Enter n = 2
Enter name = fanta
Enter price = 100
Enter quantity = 2
Enter name = Coke
Enter price = 100
Enter quantity = 2
fanta 100 2 200
Coke 100 2 200

In [20]:
bill = str()
file = open('datas.txt','a')
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    file.write(info)

print(bill)
    
file.close()

Enter n = 2
Enter name = Coke
Enter price = 100
Enter quantity = 4
Enter name = Momo
Enter price = 100
Enter quantity = 4

In [22]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name},{price},{quantity},{total}\n"
    bill = bill + info
    
print(bill)
file = open('datas.csv','w')
file.write("Name,Price,Quantity,Total\n")
file.write(bill)
file.close()

Enter n = 2
Enter name = Coke
Enter price = 100
Enter quantity = 3
Enter name = Momo
Enter price = 200
Enter quantity = 4
Coke,100,3,300
Momo,200,4,800

In [23]:
import pandas as pd
df = pd.read_csv('datas.csv')
df

   Name  Price  Quantity  Total
0  Coke    100         3    300
1  Momo    200         4    800