In [1]:
# Python collection
# -List
# -Tuple
# -Dictionary
# -Set

In [2]:
# List
# -Indexed
# -Ordered
# -Multiple or duplicate data
# -Mutable

In [4]:
a = [1,2,3,4,5,6,1]
b = ['Apple','Ball','Cat','Dog']
print(a)
print(b)
print(type(a))
print(type(b))

[1, 2, 3, 4, 5, 6, 1]
['Apple', 'Ball', 'Cat', 'Dog']
<class 'list'>
<class 'list'>

In [5]:
a = [1,2,3,4,5,6,1]
print(len(a))

7

In [9]:
b = ['Apple','Ball','Cat','Dog']
print(b[2])

Cat

In [12]:
b = ["Apple",'Ball','Cat','Dog',1,2,3,4,5]
print(b[:6])

['Apple', 'Ball', 'Cat', 'Dog', 1, 2]

In [15]:
a = [1,2,3,4,5]
b = [6,7,8,9]
c = b+a
print(c)

[6, 7, 8, 9, 1, 2, 3, 4, 5]

In [16]:
a = [1,2,3,4,5]
a*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [19]:
b = ["Apple",'Ball','Cat','Dog']
b[0] = "Ant"
b

['Ant', 'Ball', 'Cat', 'Dog']

In [20]:
# append() insert() extend()

In [21]:
# a = list()
a = []
a.append("Apple")
a.append("Ball")
a.append("Cat")
a

['Apple', 'Ball', 'Cat']

In [24]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 5
Enter x = 123
Enter x = 345
Enter x = 456
Enter x = 234
Enter x = 646
[123, 345, 456, 234, 646]

In [28]:
print("The max value of a = ",max(a))
print("The min value of a = ",min(a))
print("The sub of list a = ",sum(a))
print("The avg value of a = ",sum(a)/n)

The max value of a =  646
The min value of a =  123
The sub of list a =  1804
The avg value of a =  360.8

In [29]:
a.sort()
print(a)

[123, 234, 345, 456, 646]

In [34]:
a.reverse()
a

[646, 456, 345, 234, 123]

In [36]:
a = ["Zebra",'apple','1zebra','Xray',"Banana"]
a.sort()
print(a)

['1zebra', 'Banana', 'Xray', 'Zebra', 'apple']

In [37]:
a = ["Zebra",'apple','1zebra','Xray',"Banana"]
a.append("cat")
a

['Zebra', 'apple', '1zebra', 'Xray', 'Banana', 'cat']

In [39]:
# insert()
a = ["Zebra",'apple','1zebra','Xray',"Banana"]
a.insert(1,'Cat')
a

['Zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']

In [40]:
# extend()
a = [1,2,3,4]
b = [5,6,7,8,9]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
a = ['Zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']
for i in a:
    print(i)

Zebra
Cat
apple
1zebra
Xray
Banana

In [42]:
# del remove() pop()

In [44]:
a = ['Zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']
del a[1]
print(a)

['Zebra', 'apple', '1zebra', 'Xray', 'Banana']

In [46]:
a = ['Zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']
del a[0:4]
print(a)

['Xray', 'Banana']

In [47]:
a = ['Zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']
a.index('Cat')

1

In [49]:
a = ['Zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']
a.remove('Cat')
a

['Zebra', 'apple', '1zebra', 'Xray', 'Banana']

In [51]:
a = ['Zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']
a.pop()
a

['Zebra', 'Cat', 'apple', '1zebra', 'Xray']

In [53]:
a = ['Zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']
b = a.pop(0)
print(a)
print(b)

['Cat', 'apple', '1zebra', 'Xray', 'Banana']
Zebra

In [54]:
a = ['Zebra', 'Cat','Banana', 'apple', '1zebra', 'Xray', 'Banana']
a[0] = "zebra"
a

['zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana']

In [1]:
# WAP to detect index of a duplicate data
# WAP to remove duplicate data
# WAP to search any given data

In [5]:
# WAP to detect index of a duplicate data
a = ['zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana','Cat',]
for i in range(len(a)):
    if a[i] == "Cat":
        print(i)

1
6

In [6]:
# WAP to remove duplicate data
b = []
a = ['zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana','Cat',]
for i in a:
    if i != "Cat":
        b.append(i)
        
print(b)

['zebra', 'apple', '1zebra', 'Xray', 'Banana']

In [10]:
a = ['zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana','Cat',]
l = a.count("Cat")
print(a)
for i in range(l):
    a.remove("Cat")
    
    print(a)

['zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana', 'Cat']
['zebra', 'apple', '1zebra', 'Xray', 'Banana', 'Cat']
['zebra', 'apple', '1zebra', 'Xray', 'Banana']

In [23]:
a = ['zebra', 'Cat', 'apple', '1zebra', 'Xray', 'Banana','Cat','apple']
b = []
for i in a:
    if a.count(i) >1 and (i not in b):
        b.append(i)
        print(i,a.count(i))

Cat 2
apple 2

In [25]:
# list insede list

a = [[1,2,3],[4,5,6],[7,8,9]]
print(type(a))
print(len(a))

<class 'list'>
3

In [26]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a[0])

[1, 2, 3]

In [29]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a[0][0])

1

In [30]:
a = [["Ram",23,"Kathmandu"],
    ["Shyam",34,"Bhaktapur"],
    ["Hari",56,"lalitpur"]]

In [36]:
a[0]

['Ram', 23, 'Kathmandu']

In [46]:
search = input('Enter search value = ')
for i in a:
    if search in i:
        print(i)

Enter search value = Ram

In [41]:
a = [["Ram",23,"Kathmandu"],
    ["Shyam",34,"Bhaktapur"],
    ["Hari",56,"lalitpur"]]
a[0] = ['Ram Prasad',25,"Palpa"]
a

[['Ram Prasad', 25, 'Palpa'],
 ['Shyam', 34, 'Bhaktapur'],
 ['Hari', 56, 'lalitpur']]

In [44]:
a = [["Ram",23,"Kathmandu"],
    ["Shyam",34,"Bhaktapur"],
    ["Hari",56,"lalitpur"]]
a[0][0] = "Ram Prasad"
a

[['Ram Prasad', 23, 'Kathmandu'],
 ['Shyam', 34, 'Bhaktapur'],
 ['Hari', 56, 'lalitpur']]

In [48]:
a = [["Ram",23,"Kathmandu"],
    ["Shyam",34,"Bhaktapur"],
    ["Hari",56,"lalitpur"]]
del a[0]
a

[['Shyam', 34, 'Bhaktapur'], ['Hari', 56, 'lalitpur']]

In [50]:
# WAP to create a list inside list
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    data.append(info)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 67
Enter add = kathmandu
[['Ram', 34, 'Kathmandu'], ['Shyam', 67, 'kathmandu']]

In [53]:
a = [['Shyam', 34, 'Bhaktapur'], ['Hari', 56, 'lalitpur']]
a.append(['Ram',12,'Kathmandu'])
a

[['Shyam', 34, 'Bhaktapur'],
 ['Hari', 56, 'lalitpur'],
 ['Ram', 12, 'Kathmandu']]

In [56]:
a = [['Shyam', 34, 'Bhaktapur'], ['Hari', 56, 'lalitpur']]
b = [['Ram',12,'Kathmandu']]
c = a+b
c

[['Shyam', 34, 'Bhaktapur'],
 ['Hari', 56, 'lalitpur'],
 ['Ram', 12, 'Kathmandu']]

In [57]:
# WAP to create a matrix with given row and column  [[1,2,3],[4,5,6],[7,8,9]]
matrix = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
    matrix.append(y)
    
matrix

Enter r = 3
Enter c = 3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]