In [1]:
# Basic Python Collection
# 1.List
# 2.Tuple
# 3.Dictionary
# 4.Set

In [2]:
# List
# -Indexed
# -Multipple and duplicate data
# -Ordered
# -Mutable

In [3]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6,7,8,9,10]
print(a)
print(b)
print(type(a))
print(type(b))

['Apple', 'Ball', 'Cat', 'Dog']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
<class 'list'>

In [4]:
print(a[0])

Apple

In [5]:
print(a[0:4])

['Apple', 'Ball', 'Cat', 'Dog']

In [7]:
print(a[0:4:2])

['Apple', 'Cat']

In [8]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
a

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [9]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
b = ['Fish','Dog']
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Fish', 'Dog']

In [10]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Apple

In [11]:
# append() insert() extend()

In [14]:
a = []
# a = list()
a.append("Apple")
a.append("Ball")
a

['Apple', 'Ball']

In [15]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data.append(x)
    
print(data)

Enter n = 5
Enter x = 123
Enter x = 234
Enter x = 132
Enter x = 35
Enter x = 243
[123, 234, 132, 35, 243]

In [19]:
print("The sum of the value = ",sum(data))
print("The max no of the list = ",max(data))
print("The min value of the list = ",min(data))
print("The avg of the values inside list = ",sum(data)/n)

The sum of the value =  767
The max no of the list =  243
The min value of the list =  35
The avg of the values inside list =  153.4

In [21]:
data.sort()
print(data)

[35, 123, 132, 234, 243]

In [22]:
data.reverse()
data

[243, 234, 132, 123, 35]

In [25]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
a.sort()
a

['1zoo', 'Banana', 'Dog', 'Fish', 'Zebra', 'apple', 'xray']

In [28]:
#insert()
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
a.insert(2,"Apple")
a

['Zebra', 'Banana', 'Apple', 'apple', 'xray', 'Fish', 'Dog', '1zoo']

In [31]:
# extend
a = [1,2,3,4,5]
b = ["Apple","Ball","Cat","Dog"]
b.extend(a)

print(b)

['Apple', 'Ball', 'Cat', 'Dog', 1, 2, 3, 4, 5]

In [33]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
a[0] = "zebra"
print(a)

['zebra', 'Banana', 'apple', 'xray', 'Fish', 'Dog', '1zoo']

In [35]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
a[0:2] = ["Banana","Zebra"]
a

['Banana', 'Zebra', 'apple', 'xray', 'Fish', 'Dog', '1zoo']

In [1]:
#del remove() pop()
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
del a[0]
print(a)

['Banana', 'apple', 'xray', 'Fish', 'Dog', '1zoo']

In [2]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
del a[0:3]
print(a)

['xray', 'Fish', 'Dog', '1zoo']

In [3]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
a.index("apple")

2

In [4]:
#remove()
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
a.remove("apple")
print(a)

['Zebra', 'Banana', 'xray', 'Fish', 'Dog', '1zoo']

In [5]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
a.pop()
a

['Zebra', 'Banana', 'apple', 'xray', 'Fish', 'Dog']

In [6]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo"]
b = a.pop(0)
print(a)
print(b)

['Banana', 'apple', 'xray', 'Fish', 'Dog', '1zoo']
Zebra

In [8]:
b = []
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo","apple"]
for i in a:
    if i !="apple":
        b.append(i)
        
print(b)

['Zebra', 'Banana', 'xray', 'Fish', 'Dog', '1zoo']

In [11]:
b = []
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo","apple"]
for i in range(len(a)):
    if a[i] == "apple":
        print(i)

2
7

In [15]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo","apple"]
if "apple" in a:
    print("yes",a.count("apple"))
    
else:
    print("No")

yes 2

In [17]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [24]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","1zoo","apple"]
a[0][0]

'Z'

In [25]:
# WAP to create a list inside list
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    data.append(info)
    
data

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 56
Enter add = Lalitpur

[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Lalitpur']]

In [28]:
data.append(['Hari',45,"Bhaktapur"])
data

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 56, 'Lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [31]:
name = input("Enter name = ")
for i in data:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [33]:
name = input("Enter name = ").lower()
for i in data:
    if name in i[0].lower():
        print(i)

Enter name = ram
['Ram', 34, 'Kathmandu']

In [35]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Lalitpur']]
a[0] = ["Rama",32,"Bhaktapur"]
a

[['Rama', 32, 'Bhaktapur'], ['Shyam', 56, 'Lalitpur']]

In [38]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Lalitpur']]
a[0][0] = "Rama"
a

[['Rama', 34, 'Kathmandu'], ['Shyam', 56, 'Lalitpur']]

In [41]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Lalitpur']]
del a[0]
a

[['Shyam', 56, 'Lalitpur']]

In [1]:
# WAP to create a matrix with given row and column
# [[1,2,3,4],
# [4,5,6,4],
# [7,8,9,4]]



# [[1,2,3],
[4,5,6],
[7,8,9]]

In [3]:
# matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))

for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
    matrix.append(y)
matrix

Enter r = 3
Enter c = 3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]