In [1]:
# Set
# -no Indexing
# -Unordered
# -Mutable
# -No duplicate data
# -Multiple values

In [3]:
s = {"Apple","Ball","Cat","Dog"}
print(type(s))

<class 'set'>

In [5]:
s = {1}
type(s)

set

In [6]:
s = {"Apple","Ball","Cat","Dog"}
s[0]

TypeError: 'set' object does not support indexing

In [7]:
s = {"Apple","Ball","Cat","Dog"}
print(s)

{'Apple', 'Cat', 'Dog', 'Ball'}

In [8]:
s

{'Apple', 'Ball', 'Cat', 'Dog'}

In [10]:
s = {234,456,456,34534,5675,342}
print(s)

{34534, 456, 234, 5675, 342}

In [11]:
s = {"Apple","Ball","Cat","Dog","Apple"}
print(s)

{'Apple', 'Cat', 'Dog', 'Ball'}

In [12]:
s = {11,22,33,11,22,33,44,33,11}
s

{11, 22, 33, 44}

In [14]:
s = [11,22,33,11,22,33,44,33,11]
s = set(s)
s = list(s)
s

[33, 11, 44, 22]

In [15]:
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)
    
print(s)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
{'Apple', 'Cat', 'Ball'}

In [16]:
s = {'Apple', 'Cat', 'Ball'}
s.remove('Apple')
s

{'Ball', 'Cat'}

In [17]:
a = {"Ram","Shyam","Hari","Sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
c = a+b
c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [18]:
a = {"Ram","Shyam","Hari","Sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
a.update(b)
print(a)

{'Tara', 'Sita', 'Sabin', 'Shyam', 'Ram', 'Nabin', 'Hari'}

In [19]:
a = {"Ram","Shyam","Hari","Sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
a.union(b)

{'Hari', 'Nabin', 'Ram', 'Sabin', 'Shyam', 'Sita', 'Tara'}

In [20]:
a = {"Ram","Shyam","Hari","Sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
a.intersection(b)

{'Nabin', 'Ram'}

In [21]:
a = {"Ram","Shyam","Hari","Sita","Nabin"}
b = {"Nabin","Tara","Sabin","Ram","Nabin"}
x = a.intersection(b)
len(x)

2

In [22]:
a.difference(b)

{'Hari', 'Shyam', 'Sita'}

In [23]:
b.difference(a)

{'Sabin', 'Tara'}

In [28]:
b.isdisjoint(a)

False

In [29]:
a = {1,2,3,4}
b = {1,2,3,4,5,6,7}
a.issubset(b)

True

In [31]:
a = {1,2,3,4}
b = {1,2,3,4,5,6,7}
b.issuperset(a)

True

In [34]:
U = {'Gates', 'Hari', 'Jobs', 'Nabin', 'Ram', 'Sabin', 'Shyam', 'Sita', 'Tara',"Mike","John"}

apple = {"Ram","Shyam","Hari","Sita","Nabin","Jobs"}
ms = {"Nabin","Tara","Sabin","Ram","Nabin","Gates"}

un= apple.union(ms)

U.difference(un)

{'John', 'Mike'}