In [1]:
# String
# -Sequence of char
# -imutable datatype

In [2]:
a = "Hello World"
print(a)
print(type(a))

Hello World
<class 'str'>

In [3]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
a = input("Enter a = ")
print(type(a))

Enter a = 10
<class 'str'>

In [7]:
a = "Hello World I am Python"
print(a[0])

H

In [11]:
a = "Hello World I am Python"
b = a[:5]
c = a[5:]
print(b)
print(c)

Hello
 World I am Python

In [12]:
a = "Hello World I am Python"
a[0:10:2]

'HloWr'

In [13]:
a = "Hello World I am Python"
a[::-1]

'nohtyP ma I dlroW olleH'

In [16]:
a = "Hello World I am Python"
a[-1::-1]

'nohtyP ma I dlroW olleH'

In [18]:
name = "Ram"
age = 34
add = "Kathmandu"

info = "Hello World I am "+name+" I am form "+add +" I am " +str(age)
info

'Hello World I am Ram I am form Kathmandu I am 34'

In [21]:
#string formating
name = "Ram"
age = 34
add = "Kathmandu"

info = f"Hello World I am {name}. I am from {add}. I am {age}."
print(info)

Hello World I am Ram. I am from Kathmandu. I am 34.

In [22]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    bill = bill + info
    
print(bill)

Enter n = 2
Enter name = Coke
Enter price = 100
Enter quantity = 2
Enter name = Momo
Enter price = 150
Enter quantity = 3
Coke 100 2 200
Momo 150 3 450

In [31]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Ramesh"
search = input("Enter value for search = ")

if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter value for search = ram
No

In [34]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Ramesh"
a.lower()

'ram shyam hari sita gita nita nabin ramesh'

In [35]:
search = "RaM"
search.lower()

'ram'

In [36]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Ramesh".lower()
search = input("Enter value for search = ").lower()

if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter value for search = RaM
Yes
2

In [39]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Ramesh"
a.lower()

'ram shyam hari sita gita nita nabin ramesh'

In [43]:
a = 'ram shyam hari sita gita nita nabin ramesh'
a = a.title()
print(a)

Ram Shyam Hari Sita Gita Nita Nabin Ramesh

In [44]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Ramesh"
a = a.lower()
print(a)

ram shyam hari sita gita nita nabin ramesh

In [47]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Ramesh"
a.replace("Ram ","Rama ")

'Rama Shyam Hari Sita Gita Nita Nabin Ramesh'

In [48]:
a = "Ram Shyam Hari Sita Gita Nita Nabin Ramesh"
a.replace("Ram ","")

'Shyam Hari Sita Gita Nita Nabin Ramesh'