In [1]:
# Tuple
# -Indexed
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [2]:
a = tuple()

In [4]:
a = (1,2,3,4,5,6,1)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 1)
<class 'tuple'>

In [7]:
a = (1,2,3,4,5,6,1)
print(a[1])

2

In [8]:
a = (1,2,3,4)
b = (5,6,7)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7)

In [9]:
# No append(),extend(),insert()
# No del , remove() pop()
# No update 
# No sort()

In [13]:
a = (1, 2, 3, 4, 5, 6, 7)
a = list(a)
del a[0]
a

[2, 3, 4, 5, 6, 7]

In [14]:
a = tuple(a)
a

(2, 3, 4, 5, 6, 7)

In [19]:
a = ()
b = ("Apple",)
c = ("Ball",)
a = a+b+c
a

('Apple', 'Ball')

In [18]:
b = ("Apple",)
type(b)

tuple

In [20]:
x = ()
n = int(input("Enter n = "))
for i in range(n):
    a = int(input("Enter a = "))
    x = x+(a,)
    
print(x)

Enter n = 5
Enter a = 123
Enter a = 234
Enter a = 123
Enter a = 34
Enter a = 123
(123, 234, 123, 34, 123)

In [ ]:
# max() min() sum()

In [21]:
a = (123, 234, 123, 34, 123)
for i in a:
    print(i)

123
234
123
34
123

In [22]:
a = ("Apple","Ball","Cat","Dog")
if "Apple" in a:
    print("Yes")

Yes

In [23]:
a = [1,2,3,4,5]
tuple(a)

(1, 2, 3, 4, 5)

In [24]:
a = "Apple"
print(list(a))

['A', 'p', 'p', 'l', 'e']

In [25]:
a = "Apple"
print(tuple(a))

('A', 'p', 'p', 'l', 'e')

In [26]:
a = ['A', 'p', 'p', 'l', 'e']
str(a)

"['A', 'p', 'p', 'l', 'e']"

In [27]:
# tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))

In [28]:
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = (name,age,add)
    info = info +(data,)
    
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = kathmandu
Enter name = Shyam
Enter age = 56
Enter address = Kathmandu
(('Ram', 34, 'kathmandu'), ('Shyam', 56, 'Kathmandu'))

In [29]:
a = (('Ram', 34, 'kathmandu'), ('Shyam', 56, 'Kathmandu'))
b = list(a)
b

[('Ram', 34, 'kathmandu'), ('Shyam', 56, 'Kathmandu')]

In [30]:
# Append()
a = [('Ram', 34, 'kathmandu'), ('Shyam', 56, 'Kathmandu')]
a.append(('Hari',67,"Lalitpur"))
a

[('Ram', 34, 'kathmandu'),
 ('Shyam', 56, 'Kathmandu'),
 ('Hari', 67, 'Lalitpur')]

In [33]:
a = [('Ram', 34, 'kathmandu'), ('Shyam', 56, 'Kathmandu')]
a[0]

('Ram', 34, 'kathmandu')

In [35]:
a = [('Ram', 34, 'kathmandu'), ('Shyam', 56, 'Kathmandu')]
del a[0]
a

[('Shyam', 56, 'Kathmandu')]

In [38]:
a = [('Ram', 34, 'kathmandu'), ('Shyam', 56, 'Kathmandu')]
a[0] = ("Rama",34,'Kathmandu')
a

[('Rama', 34, 'Kathmandu'), ('Shyam', 56, 'Kathmandu')]

In [36]:
a = [('Ram', 34, 'kathmandu'), ('Shyam', 56, 'Kathmandu')]
del a[0][0]
a

TypeError: 'tuple' object doesn't support item deletion

In [40]:
# list inside tuple
a = (['Ram', 34, 'kathmandu'], ['Shyam', 56, 'Kathmandu'])
a[0]

['Ram', 34, 'kathmandu']

In [42]:
a = (['Ram', 34, 'kathmandu'], ['Shyam', 56, 'Kathmandu'])
a[0].append(9867667654)
a[1].append(9808667654)
a

(['Ram', 34, 'kathmandu', 9867667654], ['Shyam', 56, 'Kathmandu', 9808667654])

In [45]:
a = (['Ram', 34, 'kathmandu'], ['Shyam', 56, 'Kathmandu'])
a[0].clear()
a[1].clear()
a

([], [])