In [1]:
# tuple
# -Indexed
# -Ordered
# -Duplicate and multiple values
# -Imutable

In [3]:
a = (1,2,3,4)
b = ("Apple","Ball","Cat","Dog")
print(type(a))
print(type(b))
print(a)
print(b)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)
('Apple', 'Ball', 'Cat', 'Dog')

In [4]:
b = ("Apple","Ball","Cat","Dog")
print(b[0])

Apple

In [5]:
b = ("Apple","Ball","Cat","Dog")
print(b[0:2])

('Apple', 'Ball')

In [6]:
b = ("Apple","Ball","Cat","Dog")
a = (1,2,3,4,5)
c = a+b
print(c)

(1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog')

In [7]:
b = ("Apple","Ball","Cat","Dog","Apple",)
b

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [11]:
a = (1,)
print(a)
print(type(a))

(1,)
<class 'tuple'>

In [12]:
b = ("Apple",)
type(b)

tuple

In [13]:
# No append() insert() extend()
# No update
# No delete or remove or pop
# No sort()

In [16]:
a = ()
b = ("Apple",)
c = ("Ball",)
a = a+b+c
a

('Apple', 'Ball')

In [17]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+(x,)
    
print(a)

Enter n = 5
Enter x = 23
Enter x = 34
Enter x = 23
Enter x = 34
Enter x = 234
(23, 34, 23, 34, 234)

In [19]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a = list(a)
a

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [20]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
a = tuple(a)
a

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [22]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a = list(a)
del a[0]
a = tuple(a)
a

('Ball', 'Cat', 'Dog', 'Apple')

In [23]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
a[0]

(1, 2, 3)

In [25]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enetr age = "))
    add = input("Enter add = ")
    a = a+((name,age,add),)
    
print(a)

Enter n = 2
Enter name = Ram
Enetr age = 34
Enter add = Kathmandu
Enter name = Shyam
Enetr age = 45
Enter add = Kathmandu
(('Ram', 34, 'Kathmandu'), ('Shyam', 45, 'Kathmandu'))

In [29]:
a = (234,45,234,35,24,35)
print(sorted(a))
print(a)

[24, 35, 35, 45, 234, 234]
(234, 45, 234, 35, 24, 35)

In [36]:
a = (('Ram', 34, 'Kathmandu'), ('Shyam', 45, 'Kathmandu'))
b = list(a)
b

[('Ram', 34, 'Kathmandu'), ('Shyam', 45, 'Kathmandu')]

In [35]:
b.append(('Hari',45,'Lalitpur'))
b

[('Ram', 34, 'Kathmandu'),
 ('Shyam', 45, 'Kathmandu'),
 ('Hari', 45, 'Lalitpur')]

In [39]:
b[0] = ('Rama',67,'Bara')
b

[('Rama', 67, 'Bara'), ('Shyam', 45, 'Kathmandu')]

In [40]:
del b[0]
b

[('Shyam', 45, 'Kathmandu')]

In [47]:
a = [('Rama', 67, 'Bara'), ('Shyam', 45, 'Kathmandu')]
a[0]

('Rama', 67, 'Bara')

In [51]:
a = (['Rama', 67, 'Bara'], ['Shyam', 45, 'Kathmandu'])
a[0]

['Rama', 67, 'Bara']

In [52]:
a = (['Rama', 67, 'Bara'], ['Shyam', 45, 'Kathmandu'])
a[0].append(9867667654)
a[1].append(9867667654)
a

(['Rama', 67, 'Bara', 9867667654], ['Shyam', 45, 'Kathmandu', 9867667654])

In [54]:
a = (['Rama', 67, 'Bara'], ['Shyam', 45, 'Kathmandu'])
a[0][0] = "Ram"
a

(['Ram', 67, 'Bara'], ['Shyam', 45, 'Kathmandu'])