In [1]:
# Dict
# -Indxed
# -Ordered
# -Multiple and duplicate value
#-No duplicate key
# -Mutable

In [2]:
# a = {<key>:<value>,<key>:<value>,...}

In [6]:
a = {'A':"Apple","B":"Ball","C":"Cat"}
print(a['C'])

Cat

In [7]:
a = {'A':"Apple","B":"Ball","C":"Cat"}
print(a)
print(type(a))

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}
<class 'dict'>

In [8]:
a = {'A':"Apple","B":"Ball","C":"Cat",'a':"Apple"}
a

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'a': 'Apple'}

In [10]:
a = {'A':"Apple","B":"Ball","C":"Cat",'A':"apple"}
a

{'A': 'apple', 'B': 'Ball', 'C': 'Cat'}

In [14]:
# a = dict()
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
# a = dict()
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d['a'] = "apple"
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [17]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
    
info

Enter n = 2
Enter name = Ram
Enter phone = 9867667654
Enter name = Shyam
Enter phone = 9867667654

{'Ram': '9867667654', 'Shyam': '9867667654'}

In [18]:
for i in info:
    print(i)

Ram
Shyam

In [19]:
for i in info.values():
    print(i)

9867667654
9867667654

In [20]:
for i in info.items():
    print(i)

('Ram', '9867667654')
('Shyam', '9867667654')

In [21]:
l = []
for i in info.items():
    l.append(i)
    
l

[('Ram', '9867667654'), ('Shyam', '9867667654')]

In [22]:
dict(l)

{'Ram': '9867667654', 'Shyam': '9867667654'}

In [23]:
a = (('Ram', '9867667654'), ('Shyam', '9867667654'))
dict(a)

{'Ram': '9867667654', 'Shyam': '9867667654'}

In [24]:
a = [['Ram', '9867667654'], ['Shyam', '9867667654']]
dict(a)

{'Ram': '9867667654', 'Shyam': '9867667654'}

In [25]:
a = {'Ram': '9867667654', 'Shyam': '9867667654'}
b = {"Hari":'9808778765'}
c = a+b
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [26]:
a = {'Ram': '9867667654', 'Shyam': '9867667654'}
b = {"Hari":'9808778765'}
a.update(b)
a

{'Ram': '9867667654', 'Shyam': '9867667654', 'Hari': '9808778765'}

In [28]:
# del pop()
a = {'Ram': '9867667654', 'Shyam': '9867667654', 'Hari': '9808778765'}
del a['Ram']
a

{'Shyam': '9867667654', 'Hari': '9808778765'}

In [29]:
a = {1:1,2:4,3:9,4:16}
len(a)

4

In [30]:
a = {'Ram': '9867667654', 'Shyam': '9867667654', 'Hari': '9808778765'}
a.pop("Shyam")
a

{'Ram': '9867667654', 'Hari': '9808778765'}

In [31]:
a = {'Ram': '9867667654', 'Shyam': '9867667654', 'Hari': '9808778765'}
b = a.pop("Shyam")
print(a)
print(b)

{'Ram': '9867667654', 'Hari': '9808778765'}
9867667654

In [32]:
# list inside dict
a = {'Ram': [9867667654,9867667654], 
     'Shyam': [9867667654,9867667547], 
     'Hari': [9808778765,9867667654]}
a

{'Ram': [9867667654, 9867667654],
 'Shyam': [9867667654, 9867667547],
 'Hari': [9808778765, 9867667654]}

In [33]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter phone = ")
    ncell_phone = input("Enter phone = ")
    info[name] = [ntc_phone, ncell_phone]
    
info

Enter n = 2
Enter name = Ram
Enter phone = 9843556543
Enter phone = 9808667654
Enter name = Shyam
Enter phone = 9845667876
Enter phone = 9808667654

{'Ram': ['9843556543', '9808667654'], 'Shyam': ['9845667876', '9808667654']}

In [34]:
name = input("Enter name = ")
ntc_phone = input("Enter phone = ")
ncell_phone = input("Enter phone = ")
info[name] = [ntc_phone, ncell_phone]

Enter name = Hari
Enter phone = 9845667654
Enter phone = 9808667632

In [35]:
info

{'Ram': ['9843556543', '9808667654'],
 'Shyam': ['9845667876', '9808667654'],
 'Hari': ['9845667654', '9808667632']}

In [36]:
info['Ram']

['9843556543', '9808667654']

In [37]:
info['Ram'].append(9867667654)
info

{'Ram': ['9843556543', '9808667654', 9867667654],
 'Shyam': ['9845667876', '9808667654'],
 'Hari': ['9845667654', '9808667632']}

In [41]:
info['Ram'][0] = 9840000000
info

{'Ram': [9840000000, '9808667654', 9867667654],
 'Shyam': ['9845667876', '9808667654'],
 'Hari': ['9845667654', '9808667632']}

In [42]:
a = {["Apple","Ball"]:"A"}
a

TypeError: unhashable type: 'list'

In [43]:
a = {("Apple","Ball"):"A"}
a

{('Apple', 'Ball'): 'A'}

In [45]:
a[("Apple","Ball")]

'A'

In [ ]:
# int float str tuple