In [1]:
# to install mysql connector
# !pip install mysql-connector

In [12]:
import mysql.connector #importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
  database = "pythonclass4pm"
)

db = database.cursor()

In [5]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(0, 'Hari', 67, 89, 95, 89, 72, 412, 80.0, 'A')
(1, 'Ram', 78, 80, 78, 89, 80, 400, 80.0, 'A')
(3, 'Hari', 67, 89, 95, 89, 72, 412, 80.0, 'B')

In [11]:
# Inserting data
sql = "INSERT INTO student(sn,name,physics,chemistry,math,engish,nepali,total,per,grade) VALUES(5,'Nabin',89,67,87,67,89,380,78,'B')"
db.execute(sql)
database.commit()

In [ ]:
sn = int(input("Enter sn = "))
name = input("Enter name = ")
physics = int(input("Enter physics = "))
chemistry = int(input("Enter physics = "))
math = int(input("Enter physics = "))
english = int(input("Enter physics = "))
nepali = int(input("Enter physics = "))

total = physics + chemistry +math+ english + nepali
per = total/5
if per >= 80:
    grade = "A"
    
elif per >= 60:
    grade = "B"

elif per >= 45:
    grade = "C"

else:
    grade = "F"

sql = f"INSERT INTO student(sn,name,physics,chemistry,math,english,nepali,total,per,garde) 
VALUES({sn},'{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')"
db.execute(sql)
database.commit()